{%- if section.settings.page_title_enable or section.settings.page_content_enable -%}
  <div class="page-width page-width--narrow page-content{% if section.blocks.size > 0 %} page-content--with-blocks{% endif %}">
    {%- render 'breadcrumbs' -%}

    {%- if section.settings.page_title_enable -%}
      <header class="section-header">
        <h1 class="section-header__title">{{ page.title }}</h1>
      </header>
    {%- endif -%}

    {%- if section.settings.page_content_enable -%}
      <div class="rte text-spacing">
        {{ page.content }}
      </div>
    {%- endif -%}
  </div>
{%- endif -%}

{%- if section.blocks.size > 0 -%}
  <div class="page-width page-width--narrow page-content">
    <div class="page-blocks page-blocks--flush" itemscope itemtype="https://schema.org/FAQPage">
      {%- for block in section.blocks -%}
        <div {{ block.shopify_attributes }}>
          {%- case block.type -%}
            {%- when 'rich-text'-%}
              {%- render 'page-block-rich-text', section_class: 'index-section--faq', block: block -%}

            {%- when 'question'-%}
              {%- render 'page-block-faq', block: block -%}

          {%- endcase -%}
        </div>
      {%- endfor -%}
    </div>
  </div>
{%- endif -%}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "What supplement is best for digestion?",
  "description": "Depending on the type and severity of your digestive complaint, different remedies might be more suitable. For excess gas and bloating, and overall digestion of protein, carbs, and fats, digestive enzymes and pancreatin are popular. If the main goal is improved protein metabolism, then Betaine HCL and/or HCL can be helpful. If the main goal is relief of constipation, then either a laxative like cascara sagrada or magnesium sulfate could be helpful, along with an enema.",
  "thumbnailUrl": "https://cdn.shopify.com/s/files/1/0573/9000/6443/files/What-supplement-is-best-for-digestion.jpg?v=1757233285",
  "uploadDate": "2025-09-08",
  "duration": "PT58S",
  "contentUrl": "https://cdn.shopify.com/videos/c/o/v/68230ad639264457bd049a9361453510.mp4",
  "embedUrl": "https://drclarkstore.com/a/faq",
  "publisher": {
    "@type": "Organization",
    "name": "Dr Clark Store",
    "logo": {
      "@type": "ImageObject",
      "url": "https://drclarkstore.com/logo.png"
    }
  }
}


{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "What Can I take to Improve my Digestion?",
  "description": "Improving digestion starts with consumer the optimal foods for your individual abilities and needs. Digestive enzymes, particularly those secreted by the pancreas, improves digestion if your main problem is production of enough of a certain type of enzyme. By taking a spectrum of enzymes, you ensure you are getting enough to digest all of your food. Probiotics taken with a meal is another highly effective option for many people.",
  "thumbnailUrl": "https://cdn.shopify.com/s/files/1/0573/9000/6443/files/What-Can-I-take-to-Improve-my-Digestion.jpg?v=1757328303",
  "uploadDate": "",
  "duration": "PT59S",
  "contentUrl": "https://cdn.shopify.com/videos/c/o/v/eeff8246826e49b182d171d243233892.mp4",
  "embedUrl": "https://drclarkstore.com/a/faq",
  "publisher": {
    "@type": "Organization",
    "name": "Dr. Clark Store",
    "logo": {
      "@type": "ImageObject",
      "url": "https://drclarkstore.com/cdn/shop/files/drclarkstore-logo.png"
    }
  }
}


{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "What is the number one supplement for gut health?",
  "description": "The number one supplement for gut health ideally is a combination of enzymes and probiotics in one capsule. These are difficult to find from a pure source and it is more economical to buy them separately and combine as needed. If you had to choose between enzymes or probiotics, it may largely depend on whether you are needing more help digesting food (enzymes) or having other GI problems deeper in the GI tract (probiotics).",
  "thumbnailUrl": "https://cdn.shopify.com/s/files/1/0573/9000/6443/files/What-is-the-number-one-supplement-for-gut-health.jpg?v=1757328626",
  "uploadDate": "",
  "duration": "PT49S",
  "contentUrl": "https://cdn.shopify.com/videos/c/o/v/9a2aa86a4a9b4eb3a1255e22f902cdfd.mp4",
  "embedUrl": "https://drclarkstore.com/a/faq",
  "publisher": {
    "@type": "Organization",
    "name": "Dr. Clark Store",
    "logo": {
      "@type": "ImageObject",
      "url": "https://drclarkstore.com/cdn/shop/files/drclarkstore-logo.png"
    }
  }
}


{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Is it better to take digestive enzymes or probiotics?",
  "description": "The answer depends on a person’s condition. If battling gut infection and dysbiosis, probiotics might be more beneficial. If suffering from liver or pancreas insufficiency, and poor digestion of certain foods, then digestive enzymes would be more helpful. Ultimately, taking both can be helpful for a wider variety of conditions, and can provide systemic benefits when taken on an empty stomach.",
  "thumbnailUrl": "https://cdn.shopify.com/s/files/1/0573/9000/6443/files/Is-it-better-to-take-digestive-enzymes-or-probiotics.jpg?v=1757329433",
  "uploadDate": "",
  "duration": "PT20S",
  "contentUrl": "https://cdn.shopify.com/videos/c/o/v/ec49d7d0266345ecab6f4ba0c3ec6c79.mp4",
  "embedUrl": "https://drclarkstore.com/a/faq",
  "publisher": {
    "@type": "Organization",
    "name": "Dr. Clark Store",
    "logo": {
      "@type": "ImageObject",
      "url": "https://drclarkstore.com/cdn/shop/files/drclarkstore-logo.png"
    }
  }
}



{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Why is my digestion so bad?",
  "description": "Digestive issues can have one or more causes related to either nutrient deficiency, insufficient enzyme production, or the imbalance of microflora in the intestine. Some experience poor digestion from certain foods that contain anti-nutrients, like beans and unsprouted grains. Others find they cannot process dairy, or certain fruits and vegetables, like melon, mushrooms, or asparagus.",
  "thumbnailUrl": "https://cdn.shopify.com/s/files/1/0573/9000/6443/files/Why-is-my-digestion-so-bad.jpg?v=1757329587",
  "uploadDate": "",
  "duration": "PT57S",
  "contentUrl": "https://cdn.shopify.com/videos/c/o/v/36175383a218482f9bbb6d4b9131e0cc.mp4",
  "embedUrl": "https://drclarkstore.com/a/faq",
  "publisher": {
    "@type": "Organization",
    "name": "Dr. Clark Store",
    "logo": {
      "@type": "ImageObject",
      "url": "https://drclarkstore.com/cdn/shop/files/drclarkstore-logo.png"
    }
  }
}



{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "What is the best medicine for digestion and gas?",
  "description": "There are three common types of natural remedies people use for digestion and gas. One is digestive enzymes, which are designed to help with indigestion resulting from gas and bloating. Another category of natural products aim to improve the intestinal microbiome, called probiotics. These include: prebiotics, probiotic organisms, and what are called post-biotics like Betaine HCL which can be very helpful for digestion and gas resulting from gut dysbiosis. Lastly, some people have great success with herbal remedies, like herbal bitters, Fennel seeds, Chlorophyllin, and essential oils and teas from herbs like Peppermint.",
  "thumbnailUrl": "https://cdn.shopify.com/s/files/1/0573/9000/6443/files/What-is-the-best-medicine-for-digestion-and-gas.jpg?v=1757329682",
  "uploadDate": "",
  "duration": "PT11S",
  "contentUrl": "https://cdn.shopify.com/videos/c/o/v/7a232f982850413c9599c5f009c972a0.mp4",
  "embedUrl": "https://drclarkstore.com/a/faq",
  "publisher": {
    "@type": "Organization",
    "name": "Dr. Clark Store",
    "logo": {
      "@type": "ImageObject",
      "url": "https://drclarkstore.com/cdn/shop/files/drclarkstore-logo.png"
    }
  }
}



{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "What is the #1 supplement to take?",
  "description": "Everyone is different and may need a different supplement. The most widely effective and popular supplement is digestive enzymes, due to their wide spectrum of uses and benefits beyond digestion. They also have less chance of side-effects, or risk of depleting some other co-factor nutrient, as can happen with some vitamins. If taken without food, enzymes travel throughout the body and have a systemic effect, helping to dissolve fibrin and toxic protein tangles that build up in the body and joints, helping with intracellular and extracellular cleanup.",
  "thumbnailUrl": "https://cdn.shopify.com/s/files/1/0573/9000/6443/files/What-is-the-1-supplement-to-take.jpg?v=1757329861",
  "uploadDate": "",
  "duration": "PT31S",
  "contentUrl": "https://cdn.shopify.com/videos/c/o/v/1e31dbdf216a4c268296a78c6cd5fc59.mp4",
  "embedUrl": "https://drclarkstore.com/a/faq",
  "publisher": {
    "@type": "Organization",
    "name": "Dr. Clark Store",
    "logo": {
      "@type": "ImageObject",
      "url": "https://drclarkstore.com/cdn/shop/files/drclarkstore-logo.png"
    }
  }
}



{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "What are the three most important supplements?",
  "description": "The three most important supplements are Probiotics, Digestive Enzymes, and a multivitamin/mineral.",
  "thumbnailUrl": "https://cdn.shopify.com/s/files/1/0573/9000/6443/files/What-are-the-three-most-important-supplements.jpg?v=1757330063",
  "uploadDate": "",
  "duration": "PT9S",
  "contentUrl": "https://cdn.shopify.com/videos/c/o/v/8bb324b766324a19b9d942d9100a1572.mp4",
  "embedUrl": "https://drclarkstore.com/a/faq",
  "publisher": {
    "@type": "Organization",
    "name": "Dr. Clark Store",
    "logo": {
      "@type": "ImageObject",
      "url": "https://drclarkstore.com/cdn/shop/files/drclarkstore-logo.png"
    }
  }
}



{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "What is the best supplement to take everyday?",
  "description": "The best supplement to take every day is a simple herbal formula containing potent phytochemicals, like turmeric",
  "thumbnailUrl": "https://cdn.shopify.com/s/files/1/0573/9000/6443/files/What-is-the-best-supplement-to-take-everyday.jpg?v=1757330167",
  "uploadDate": "",
  "duration": "PT9S",
  "contentUrl": "https://cdn.shopify.com/videos/c/o/v/11b9147cdcd34d10bfd8c010db5e16ed.mp4",
  "embedUrl": "https://drclarkstore.com/a/faq",
  "publisher": {
    "@type": "Organization",
    "name": "Dr. Clark Store",
    "logo": {
      "@type": "ImageObject",
      "url": "https://drclarkstore.com/cdn/shop/files/drclarkstore-logo.png"
    }
  }
}


{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Does Beano actually work?",
  "description": "The enzyme in Beano, Alpha-galactosidase, helps the body metabolize oligosaccharides before they get to the colon and cause excess gas as they are metabolized by bacteria.",
  "thumbnailUrl": "https://cdn.shopify.com/s/files/1/0573/9000/6443/files/Does-Beano-actually-work.jpg?v=1757330284",
  "uploadDate": "",
  "duration": "PT12S",
  "contentUrl": "https://cdn.shopify.com/videos/c/o/v/3ab478d97405408387cb1d7717ac38cb.mp4",
  "embedUrl": "https://drclarkstore.com/a/faq",
  "publisher": {
    "@type": "Organization",
    "name": "Dr. Clark Store",
    "logo": {
      "@type": "ImageObject",
      "url": "https://drclarkstore.com/cdn/shop/files/drclarkstore-logo.png"
    }
  }
}


{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Why does my stomach hurt and I can't fart?",
  "description": "Many reason could account for this and its best to speak with a medical professional if you are in pain or constipated for more than a couple days. If you feel full and have eaten regularly, then it is more likely that constipation is the issue.",
  "thumbnailUrl": "https://cdn.shopify.com/s/files/1/0573/9000/6443/files/Why-does-my-stomach-hurt-and-I-can_t-fart.jpg?v=1757330360",
  "uploadDate": "",
  "duration": "PT15S",
  "contentUrl": "https://cdn.shopify.com/videos/c/o/v/f231ed29b72e4df4b2ed676c5cdfd453.mp4",
  "embedUrl": "https://drclarkstore.com/a/faq",
  "publisher": {
    "@type": "Organization",
    "name": "Dr. Clark Store",
    "logo": {
      "@type": "ImageObject",
      "url": "https://drclarkstore.com/cdn/shop/files/drclarkstore-logo.png"
    }
  }
}


{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Should I drink a probiotic if I have digestive problems?",
  "description": "Probiotic beverages can be very helpful for digestive problems.",
  "thumbnailUrl": "https://cdn.shopify.com/s/files/1/0573/9000/6443/files/Should-I-drink-a-probiotic-if-I-have-digestive-problems.jpg?v=1757330512",
  "uploadDate": "",
  "duration": "PT9S",
  "contentUrl": "https://cdn.shopify.com/videos/c/o/v/007d49f53218461dbccec60f6289e499.mp4",
  "embedUrl": "https://drclarkstore.com/a/faq",
  "publisher": {
    "@type": "Organization",
    "name": "Dr. Clark Store",
    "logo": {
      "@type": "ImageObject",
      "url": "https://drclarkstore.com/cdn/shop/files/drclarkstore-logo.png"
    }
  }
}


{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "How often should you poop?",
  "description": "Each person is different, but you should aim for around 2-to-3 bowel movements per day.",
  "thumbnailUrl": "https://cdn.shopify.com/s/files/1/0573/9000/6443/files/How-often-should-you-poop.jpg?v=1757330619",
  "uploadDate": "",
  "duration": "PT11S",
  "contentUrl": "https://cdn.shopify.com/videos/c/o/v/a76e0724cc1d4e749f05ad2d427f3832.mp4",
  "embedUrl": "https://drclarkstore.com/a/faq",
  "publisher": {
    "@type": "Organization",
    "name": "Dr. Clark Store",
    "logo": {
      "@type": "ImageObject",
      "url": "https://drclarkstore.com/cdn/shop/files/drclarkstore-logo.png"
    }
  }
}


{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "Does magnesium help with digestion?",
  "description": "Magnesium helps digestion in two main ways. One, by helping to create many enzymes required for digestion and nutrient absorption. Two, by taking large amounts to flush the GI tract.",
  "thumbnailUrl": "https://cdn.shopify.com/s/files/1/0573/9000/6443/files/Does-magnesium-help-with-digestion.jpg?v=1757330686",
  "uploadDate": "",
  "duration": "PT25S",
  "contentUrl": "https://cdn.shopify.com/videos/c/o/v/d8be94972ebd47c3b1c74e39f7ef62a7.mp4",
  "embedUrl": "https://drclarkstore.com/a/faq",
  "publisher": {
    "@type": "Organization",
    "name": "Dr. Clark Store",
    "logo": {
      "@type": "ImageObject",
      "url": "https://drclarkstore.com/cdn/shop/files/drclarkstore-logo.png"
    }
  }
}



{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "What is better for digestion prebiotics or probiotics?",
  "description": "Probiotics add healthy bacteria to your gut, while prebiotics feed the good bacteria already there. Together, they work best to improve digestion and overall gut health.",
  "thumbnailUrl": "https://cdn.shopify.com/s/files/1/0573/9000/6443/files/What-is-better-for-digestion-prebiotics-or-probiotics.jpg?v=1757330880",
  "uploadDate": "",
  "duration": "PT44S",
  "contentUrl": "https://cdn.shopify.com/videos/c/o/v/a94f3e33d1cf4e5bb1544054096c0083.mp4",
  "embedUrl": "https://drclarkstore.com/a/faq",
  "publisher": {
    "@type": "Organization",
    "name": "Dr. Clark Store",
    "logo": {
      "@type": "ImageObject",
      "url": "https://drclarkstore.com/cdn/shop/files/drclarkstore-logo.png"
    }
  }
}


{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "What is the hardest food to digest ?",
  "description": "",
  "thumbnailUrl": "https://cdn.shopify.com/s/files/1/0573/9000/6443/files/What-is-the-hardest-food-to-digest.jpg?v=1757339289",
  "uploadDate": "",
  "duration": "PT33S",
  "contentUrl": "https://cdn.shopify.com/videos/c/o/v/a5b7328d73004380aaf9672d6d219f8c.mp4",
  "embedUrl": "https://drclarkstore.com/a/faq",
  "publisher": {
    "@type": "Organization",
    "name": "Dr. Clark Store",
    "logo": {
      "@type": "ImageObject",
      "url": "https://drclarkstore.com/cdn/shop/files/drclarkstore-logo.png"
    }
  }
}


{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "What 3 foods are bad for your gut?",
  "description": "What 3 foods are bad for your gut?",
  "thumbnailUrl": "https://cdn.shopify.com/s/files/1/0573/9000/6443/files/What-3-foods-are-bad-for-your-gut.jpg?v=1757339163",
  "uploadDate": "2025-09-09",
  "duration": "PT24S",
  "contentUrl": "https://cdn.shopify.com/videos/c/o/v/30195152b9eb4249b5a3e66eb17544b0.mp4",
  "embedUrl": "https://drclarkstore.com/a/faq"
}



{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "What are the worst foods for digestion?",
  "description": "What are the worst foods for digestion?",
  "thumbnailUrl": "https://cdn.shopify.com/s/files/1/0573/9000/6443/files/What-are-the-worst-foods-for-digestion.jpg?v=1757338648",
  "uploadDate": "2025-09-09",
  "duration": "PT24S",
  "contentUrl": "https://cdn.shopify.com/videos/c/o/v/6190dfff1a9b4dcba356170a05753e26.mp4",
  "embedUrl": "https://drclarkstore.com/a/faq"
}


{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "How do you reset your digestive system?",
  "description": "How do you reset your digestive system?",
  "thumbnailUrl": "https://cdn.shopify.com/s/files/1/0573/9000/6443/files/How-do-you-reset-your-digestive-system.jpg?v=1757338496",
  "uploadDate": "2025-09-09",
  "duration": "PT47S",
  "contentUrl": "https://cdn.shopify.com/videos/c/o/v/58fb6f6b9f374e59a4a1180122bf5b42.mp4",
  "embedUrl": "https://drclarkstore.com/a/faq"
}



{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "How to get unbloated in 5 minutes?",
  "description": "How to get unbloated in 5 minutes?",
  "thumbnailUrl": "https://cdn.shopify.com/s/files/1/0573/9000/6443/files/How-to-get-unbloated-in-5-minutes.jpg?v=1757337440",
  "uploadDate": "2025-09-09",
  "duration": "PT19S",
  "contentUrl": "https://cdn.shopify.com/videos/c/o/v/a00ca8ab80a348089fa2ef13ead74f8e.mp4",
  "embedUrl": "https://drclarkstore.com/a/faq"
}



{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "What is the Best Remedy for Bloating?",
  "description": "What is the Best Remedy for Bloating?",
  "thumbnailUrl": "https://cdn.shopify.com/s/files/1/0573/9000/6443/files/What-is-the-Best-Remedy-for-Bloating.jpg?v=1757337255",
  "uploadDate": "2025-09-09",
  "duration": "PT7S",
  "contentUrl": "https://cdn.shopify.com/videos/c/o/v/524e21ec1d4d4bf198dbc82e10c1aa74.mp4",
  "embedUrl": "https://drclarkstore.com/a/faq"
}



{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "What is the best probiotic for your digestive system?",
  "description": "What is the best probiotic for your digestive system?",
  "thumbnailUrl": "https://cdn.shopify.com/s/files/1/0573/9000/6443/files/What-is-the-best-probiotic-for-your-digestive-system.jpg?v=1757335878",
  "uploadDate": "2025-09-09",
  "duration": "PT17S",
  "contentUrl": "https://cdn.shopify.com/videos/c/o/v/c3336685f32c45d3ab29b2e6044322a0.mp4",
  "embedUrl": "https://drclarkstore.com/a/faq"
}



{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "What top 3 foods are bad for your gut?",
  "description": "What top 3 foods are bad for your gut?",
  "thumbnailUrl": "https://cdn.shopify.com/s/files/1/0573/9000/6443/files/What-top-3-foods-are-bad-for-your-gut.jpg?v=1757336699",
  "uploadDate": "2025-09-09",
  "duration": "PT24S",
  "contentUrl": "https://cdn.shopify.com/videos/c/o/v/6870bd07cdca408c91a881ba70d5a63f.mp4",
  "embedUrl": "https://drclarkstore.com/a/faq"
}


{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "What can I drink after a meal to help digestion?",
  "description": "What can I drink after a meal to help digestion?",
  "thumbnailUrl": "https://cdn.shopify.com/s/files/1/0573/9000/6443/files/What-can-I-drink-after-a-meal-to-help-digestion.jpg?v=1757337115",
  "uploadDate": "2025-09-09",
  "duration": "PT24S",
  "contentUrl": "https://cdn.shopify.com/videos/c/o/v/7adccf527a364ab6ba68aa99475e7e09.mp4",
  "embedUrl": "https://drclarkstore.com/a/faq"
}


{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "What foods don't digest well?",
  "description": "What foods don't digest well?",
  "thumbnailUrl": "https://cdn.shopify.com/s/files/1/0573/9000/6443/files/What-foods-don_t-digest-well.jpg?v=1757336533",
  "uploadDate": "2025-09-09",
  "duration": "PT33S",
  "contentUrl": "https://cdn.shopify.com/videos/c/o/v/6438ffcf6c694b96af64f80cb25ff26b.mp4",
  "embedUrl": "https://drclarkstore.com/a/faq"
}


{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "What is better for digestion, prebiotics or probiotics?",
  "description": "What is better for digestion, prebiotics or probiotics?",
  "thumbnailUrl": "https://cdn.shopify.com/s/files/1/0573/9000/6443/files/What-is-better-for-digestion_-prebiotics-or-probiotics.jpg?v=1757336497",
  "uploadDate": "2025-09-09",
  "duration": "PT44S",
  "contentUrl": "https://cdn.shopify.com/videos/c/o/v/67601e342332414d8d32954d0e9c097b.mp4",
  "embedUrl": "https://drclarkstore.com/a/faq"
}

{

  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "What is the best supplement for my gut health?",
  "description": "What is the best supplement for my gut health?",
  "thumbnailUrl": "https://cdn.shopify.com/s/files/1/0573/9000/6443/files/What-is-the-number-one-supplement-for-gut-health_55470432-70f2-45c9-9144-50e9edc4b244.jpg?v=1757336408",
  "uploadDate": "2025-09-09",
  "duration": "PT49S",
  "contentUrl": "https://cdn.shopify.com/videos/c/o/v/4334f8c3536b4f46b5068d8abf4c30ce.mp4",
  "embedUrl": "https://drclarkstore.com/a/faq"
}


</script>

{% schema %}
  {
    "name": "Page.faq page",
    "settings": [
      {
        "type": "checkbox",
        "id": "page_title_enable",
        "label": "Show page title"
      },
      {
        "type": "checkbox",
        "id": "page_content_enable",
        "label": "Show page content"
      }
    ],
    "default": {
      "blocks": [
        {
          "type": "rich-text",
          "settings": {
            "title": "Shipping policy"
          }
        },
        {
          "type": "question",
          "settings": {
            "title": "Where do you ship to?"
          }
        },
        {
          "type": "question",
          "settings": {
            "title": "How long will my order take?"
          }
        },
        {
          "type": "rich-text",
          "settings": {
            "title": "Returns and exchanges"
          }
        },
        {
          "type": "question",
          "settings": {
            "title": "How do I ship my order back to you?"
          }
        }
      ]
    },
    "blocks": [
      {
        "type": "rich-text",
        "name": "Rich text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Rich text"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this section for any descriptive text you need to fill out your pages or to add introductory headings between other blocks.</p>"
          },
          {
            "type": "select",
            "id": "align_text",
            "label": "Text alignment",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Centered"
              }
            ]
          }
        ]
      },
      {
        "type": "question",
        "name": "Question",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Question",
            "default": "Frequently asked question"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this text to answer questions in as much detail as possible for your customers.</p>"
          }
        ]
      }
    ]
  }
{% endschema %}
