{% if product.url contains 'dr-clark-lugols-iodine-stomach-saver-1-fl-oz-30-cc' or product.url contains 'bernard-jensen-liquid-chlorophyll' or product.url contains 'parasite-cleanse-by-dr-hulda-clark' or product.url contains 'green-black-walnut-hull-tincture-extra-strength-2-oz' or product.url contains 'cloves-500-mg' or product.url contains 'wormwood-super-w-blend' %}

{% if product.url contains 'dr-clark-lugols-iodine-stomach-saver-1-fl-oz-30-cc' or product.url contains 'bernard-jensen-liquid-chlorophyll' %}
  <style>
    .rebuy-widget.widget-type-dynamic-bundle .rebuy-bundle__image .rebuy-bundle__image-item {
      width: 100%;
    } 
    .rebuy-widget.widget-type-dynamic-bundle .rebuy-bundle__image .rebuy-bundle__image-divider {
      width: 0px;
    }
    .rebuy-widget.widget-type-dynamic-bundle .rebuy-bundle__items{
      margin-top: 20px;
    }
    #rebuy-widget-224487.rebuy-widget.widget-type-dynamic-bundle .primary-title {
      margin-bottom: 12px;
    }
    #rebuy-widget-224487.rebuy-widget.widget-type-dynamic-bundle .rebuy-bundle__image .far.fa-plus::before {
      left: calc(50% - 11px);
    }
    .rebuy-widget.widget-type-dynamic-bundle .rebuy-bundle .rebuy-product-block .rebuy-product-info {
      justify-content: center;
    }
    @media screen and (min-width: 769px) {
      #rebuy-widget-224487.rebuy-widget.widget-type-dynamic-bundle .rebuy-bundle__items {
        ?*margin-top: -24px;*/
      }
    }
  </style>
{% endif %}
{% if product.url contains 'bernard-jensen-liquid-chlorophyll' %}
  <style>
    .rebuy-widget.widget-type-dynamic-bundle .rebuy-bundle__image.bernard-jensen-liquid-chlorophyll-16-fl-oz img {
      width: 88%;
      margin: 0 auto;
    }
    
    @media screen and (min-width: 769px) {
      #rebuy-widget-224487.rebuy-widget.widget-type-dynamic-bundle .rebuy-bundle__items {
        margin-top: 0;
      }
    }
  </style>
{% endif %}
{% if product.url contains 'green-black-walnut-hull-tincture-extra-strength-2-oz' %}
   <style>
    #rebuy-widget-224487.rebuy-widget {
      max-width: 1200px;
    }
    #rebuy-widget-224487.rebuy-widget.widget-type-dynamic-bundle .rebuy-bundle__images{
      grid-template-columns: repeat(3, 1fr);
    }
    #rebuy-widget-224487.rebuy-widget.widget-type-dynamic-bundle .rebuy-bundle__items{
      grid-template-columns: repeat(3, 1fr);
    }
    #rebuy-widget-224487.rebuy-widget.widget-type-dynamic-bundle .rebuy-bundle .rebuy-product-block {
        margin-top: 0px;
      }
    
   </style>
{% endif %}
{% if product.url contains 'cloves-500-mg' or product.url contains 'wormwood-super-w-blend' %}
  <style>
    .rebuy-widget.widget-type-dynamic-bundle .rebuy-bundle__image.wormwood-super-w-blend-330mg-100-capsules img {
      width: 78%;
    }
    #rebuy-widget-224487.rebuy-widget.widget-type-dynamic-bundle .rebuy-bundle__items {
      margin-top: 20px;
    }
  </style>
{% endif %}
{% if product.url contains 'cloves-500-mg' %}
  <style>
    .rebuy-widget.widget-type-dynamic-bundle .rebuy-bundle__image.wormwood-super-w-blend-330mg-100-capsules img {
      width: 78%;
      margin-left: 32px;
    }
    .rebuy-widget.widget-type-dynamic-bundle .rebuy-bundle__image.wormwood-super-w-blend-330mg-100-capsules .rebuy-bundle__image-divider {
      display: none;
    }
  </style>
{% endif %}
<script>
  const body = document.querySelector('body');
  {% if product.url contains 'bernard-jensen-liquid-chlorophyll' %}
    if (!body.classList.contains('chlorophyll')) {
      body.classList.add('chlorophyll')
    }
  {% endif %}
  {% if product.url contains 'dr-clark-lugols-iodine-stomach-saver-1-fl-oz-30-cc' %}
    if (!body.classList.contains('lugols')) {
      body.classList.add('lugols')
    }  
  {% endif %}
  {% if product.url contains 'parasite-cleanse-by-dr-hulda-clark' %}
    if (!body.classList.contains('parasite-cleanse')) {
      body.classList.add('parasite-cleanse')
    }  
  {% endif %}
  {% if product.url contains 'green-black-walnut-hull-tincture-extra-strength-2-oz' %}
    if (!body.classList.contains('walnut-tincture')) {
      body.classList.add('walnut-tincture')
    }     
  {% endif %}
  {% if product.url contains 'cloves-500-mg' %}
    if (!body.classList.contains('cloves')) {
      body.classList.add('cloves')
    }     
  {% endif %}
  {% if product.url contains 'wormwood-super-w-blend' %}
    if (!body.classList.contains('wormwood-super')) {
      body.classList.add('wormwood-super')
    }
  {% endif %}
  {% if product.url contains 'bug-buster-anti-candida-formula' %}
    if (!body.classList.contains('bug-buster')) {
      body.classList.add('bug-buster')
    }
  {% endif %}
  {% if product.url contains 'fungal-fighter-120' %}
    if (!body.classList.contains('fungal-fighter')) {
      body.classList.add('fungal-fighter')
    }
  {% endif %}
</script>
<script>
  
  if (window.timerX) clearInterval(window.timerX);
  window.timerX = setInterval(function () {
    let parent = document.querySelector('#rebuy-widget-224487 .rebuy-bundle');
    if (parent) {
      const parentBtn = parent.querySelector('.rebuy-button');
      if (parentBtn) {
        parentBtn.classList.add('widget-btn');
      }
      let p = document.createElement('p');  

      {% if product.url contains 'bernard-jensen-liquid-chlorophyll' %}
        p.innerHTML = `<span>Dr. Clark recommends:</span> Chlorophyllin soothes skin, protects from stress, and strengthens its barrier—while zinc boosts collagen, supports healing, and promotes firmer, more elastic skin.`;
      {% endif %}
      {% if product.url contains 'dr-clark-lugols-iodine-stomach-saver-1-fl-oz-30-cc' %}
        p.innerHTML = `<span>Dr. Clark recommends:</span> Iodine supports thyroid hormone production and metabolism, while selenium boosts its effects—helping convert T4 to active T3 and protecting the thyroid for balanced hormones and optimal gland health.`;
      {% endif %}
    
      {% if product.url contains 'parasite-cleanse-by-dr-hulda-clark' %}
        p.innerHTML = `<span>Dr. Clark recommends:</span> Ornithine helps remove excess ammonia from parasites, supporting better sleep and faster recovery during a cleanse.`;  
      {% endif %}

      {% if product.url contains 'green-black-walnut-hull-tincture-extra-strength-2-oz' %}
        p.innerHTML = `<span>Dr. Clark recommends:</span> Boost your gut health with the ultimate trio: black walnut, cloves, and wormwood. Together they support digestion, balance microbes, and fight harmful organisms for complete intestinal wellness.`;
      {% endif %}
      {% if product.url contains 'cloves-500-mg' %}
        p.innerHTML = `<span>Dr. Clark recommends:</span> Cloves and Wormwood work best when taken together, as they complement each other to support a balanced digestive environment and enhance natural cleansing. Pairing them maximizes their effectiveness for overall wellness.`;
      {% endif %}
      {% if product.url contains 'wormwood-super-w-blend' %}
        p.innerHTML = `<span>Dr. Clark recommends:</span> Cloves and Wormwood work best when taken together, as they complement each other to support a balanced digestive environment and enhance natural cleansing. Pairing them maximizes their effectiveness for overall wellness.`;
      {% endif %}
    
      parent.prepend(p);
      clearInterval(window.timerX);
    }
  }, 50)
</script>

{% endif %}
<script>
  if (window.timeX) clearInterval(window.timeX);

  window.timeX = setInterval(function () {

  const optionDropdown = document.querySelector('.appstle_subscription_wrapper_option.appstle_include_dropdown');
  console.log('aaaaaaaaaaaaaaaaaaaa');
  if (optionDropdown) {
  console.log('bbbbbbbbbbbbbbbbbbbbbb');
  const wrapFeat = document.createElement('div');
  wrapFeat.innerHTML = `<ul class="feat-list"><li class="feat-item feat-item--save">Save 10% on every subscription</li><li class="feat-item feat-item--comitment">No commitment, cancel anytime</li></ul>`;
  optionDropdown.appendChild(wrapFeat);
  clearInterval(window.timeX);
  }
  }, 50);
</script>

{% schema %}
  {
    "name": "Product Scripts",
    "settings": []
  }
{% endschema %}