<div class="page-width page-content">
  {%- render 'breadcrumbs' -%}

  <header class="section-header page-headingg">
    
    <h1 class="section-header__title">{{ page.title }}</h1>
  </header>
  <head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!--   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
<!--   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
  </head>
  <div class="rte rte--nomargin">
    <div class="container">
 
  <div class="row">
    <div class="col-sm-3" style="line-height:3;"><a href="/collections/acidity">Acidity</a><br><a href="/collections/adrenal-support">Adrenal Support</a><br><a href="/collections/blood-pressure">Blood Pressure</a><br><a href="/collections/blood-sugar">Blood Sugar</a><br><a href="/collections/bone-health">Bone Health</a><br><a href="/collections/brain-cognitive-function">Brain & Cognitive Function</a><br><a href="/collections/cardiovascular-health">Cardiovascular Health</a>
    </div>
    <div class="col-sm-3" style="line-height:3;"><a href="/collections/circulation">Circulation</a><br><a href="/collections/detoxification">Detoxification</a><br><a href="/collections/digestion">Digestion</a><br><a href="/collections/energy">Energy</a><br><a href="/collections/eye-support">Eye Support</a><br><a href="/collections/immune-support">Immune Support</a><br><a href="/collections/inflammation">Inflammation</a></div>
    <div class="col-sm-3" style="line-height:3;"><a href="/collections/joints-mobility">Joints & Mobility</a><br><a href="/collections/kidney-urinary-support">Kidney & Urinary Support</a><br><a href="/collections/liver-support">Liver Support</a><br><a href="/collections/mens-health">Men’s Health</a><br><a href="/collections/microorganism-balance">Microorganism Balance</a><br><a href="/collections/nervous-system-support">Nervous System Support</a><br><a href="/collections/oral-health">Oral Health</a></div>
    <div class="col-sm-3" style="line-height:3;"><a href="/collections/pain-management">Pain Management</a><br><a href="/collections/respiratory-support">Respiratory Support</a><br><a href="/collections/sleep">Sleep</a><br><a href="/collections/sports-fitness">Sports & Fitness</a><br><a href="/collections/stress-mood">Stress & Mood</a><br><a href="/collections/thyroid-support">Thyroid Support</a><br><a href="/collections/weight-management">Weight Management</a><br><a href="/collections/womens-health">Women’s Health</a></div>
  </div>
</div>
  </div>
</div>
