<div class="page-width page-width--narrow1">
  
  <h2 class="contact-heading"><b>Contact Us</b></h2>
  <h4>Effective Friday, March 20, 2020:</h4>

  <p>Due to minimal staffing, you may experience longer wait times when calling. If you cannot reach us right away, feel free to leave a message and one of our customer service representatives will return your call as soon as possible. You can also email us at service@DrClarkStore,com. We will try to respond as soon as possible.</p> 

<p>Self Health Resource Center<br>
   1065 Bay Blvd., Ste A<br>
   Chula Vista, CA 91911</p>

<p>Phone: 1-619-409-9500<br>
   Fax: 1-619-409-9501<br>
   Email: service@drclarkstore.com</p>

<p>Hours of Operation<br>
   Monday - Friday | 8:00 AM - 4:00 PM (Pacific Standard Time - PST)</p>

<p>Walk-Ins / Pick-Up Orders <br>
   Monday - Friday | 8:00 AM - 3:00 PM</p>

<p>Pick-Up Order Location<br>
   1065 Bay Blvd, Ste. H<br>
   Chula Vista, CA 91911</p>

  <p>Due to the COVID-19 health crisis, in-person pick-up orders must be phoned in to our customer service department. Please do not enter our office building. Orders must be paid for over the phone with a credit/debit card. No cash payments will be accepted. Your products will be delivered to you while you wait in the parking lot. When a masked employee delivers your products we ask that you also wear a face covering over your nose and mouth.</p>

  <p>To place your order call us at 1-619-409-9500.</p>
</div>
{% section 'page-contact-template' %}
